@define-color background-color #1E1E2E;

@define-color overlay #313244;
@define-color overlay-2 #1E1E2E;
@define-color overlay-3 #585b70;

@define-color text #CDD6F4;
@define-color icon #BAC2DE;

@define-color accent #CBA6F7;

@define-color red #F38BA8;
@define-color orange #FAB387;
@define-color yellow #F9E2AF;
@define-color green #A6E3A1;
@define-color mauve #CBA6F7;
