@define-color background-color #1E1E2E;

@define-color overlay #6C7086;
@define-color overlay-2 #7F849c;
@define-color overlay-3 #9399B2;

@define-color text #CDD6F4;
@define-color icon #CDD6F4;

@define-color accent #CBA6F7;

@define-color red #F38BA8;
@define-color orange #FAB387;
@define-color yellow #F9E2AF;
@define-color green #A6E3A1;
@define-color mauve #CBA6F7;
